# <center><b>Math for Data Science</b></center>

# <center><b>Simple Linear Regression</b></center>

# <center><b>Coding Assignment</b></center>

<div class="alert alert-block alert-warning">
    <b><font size="4">Files needed for this assignment:</font></b>
</div>

[**Salaries**](https://docs.google.com/spreadsheets/d/1UbfcRDFqKpAfzKvTyhIPfsYvtHR4tP5C1w1SWDZo8UE/edit?usp=share_link)

## Importing libraries needed

In [3]:
import pandas as pd

## Display multiple output in one cell

In [1]:
# set up notebook to display multiple output in one cell

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

print('The notebook is set up to display multiple output in one cell.')

The notebook is set up to display multiple output in one cell.

<div class="alert alert-block alert-success">

**Task #1**:&emsp;Import the Python libraries that you will need to conduct a Simple Linear Regression analysis on the **Salaries** dataset.<br>
    
**Task #2**:&emsp;Load the **Salaries** dataset and store the results in a DataFrame named <b>salaries</b>.<br>
    
**Task #3**:&emsp;Write code to do some preliminary investigation of the **Salaries** dataset.<br>
    
**Task #4**:&emsp;Use the statsmodels library to perform simple linear regression on the **Salaries** dataset.<br>
    
**Task #5**:&emsp;Create a markdown cell to interpret the regression output that you obtained from Task #4.<br>
    
**Task #6:**&emsp;Use the sklearn library to perform simple linear regression on the **Salaries** dataset.<br>

In [8]:
salaries = pd.read_excel("Salaries.xlsx")

In [9]:
salaries

    YearsExperience  Salary
0               1.1   39343
1               1.3   46205
2               1.5   37731
3               2.0   43525
4               2.2   39891
5               2.9   56642
6               3.0   60150
7               3.2   54445
8               3.2   64445
9               3.7   57189
10              3.9   63218
11              4.0   55794
12              4.0   56957
13              4.1   57081
14              4.5   61111
15              4.9   67938
16              5.1   66029
17              5.3   83088
18              5.9   81363
19              6.0   93940
20              6.8   91738
21              7.1   98273
22              7.9  101302
23              8.2  113812
24              8.7  109431
25              9.0  105582
26              9.5  116969
27              9.6  112635
28             10.3  122391
29             10.5  121872